.create--event--component {
  margin: 30px 0 30px 0;
  letter-spacing: -1px;
}

.create--event--en--c--d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.create--event--en--c--d--input--field {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  font-size: var(--fs-m);
}

.create--event--en--c--d--input--field input,
select {
  font-size: var(--fs-mm);
  border-radius: 20px;
  padding: 7px 18px;
  color: var(--clr--black);
  background-color: var(--clr--white);
}

.create--event--en--c--d--input--field select:focus {
  border-radius: 20px 20px 0 0;
}

.create--event--en--c--d--input--field option {
  border-radius: 20px;
  margin: 10px 0 0 0;
}
