.register--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 65px 0 0 0;
  max-width: 360px;
  width: 90%;
}

.register--form label {
  font-size: var(--fs-m);
  font-weight: var(--fw-b);
  margin: 0 0 15px 0;
}

.register--form input {
  border: 1px solid var(--clr-black);
  border-radius: 20px;
  margin: 0 0 15px 0;
  font-size: var(--fs-mm);
  padding: 8px 20px;
}

.register--actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0 25px 0;
}

.register--actions :nth-child(1) {
  padding: 10.5px 40px;
  width: 100%;
  text-align: center;
  font-size: var(--fs-s);
  font-weight: var(--fw-b);
  background-color: var(--clr-lightpink);
  border-radius: 20px;
}

.register--actions :nth-child(2) {
  color: var(--clr-black);
  text-align: center;
  padding: 9.5px 0;
  width: 100%;
  border-radius: 20px;
  border: 2px solid var(--clr-lightpink);
}

/* 
.register--actions :nth-child(1) {
  text-decoration: underline;
  font-size: var(--fs-m);
  font-weight: var(--fw-r);
  color: var(--clr-black);
}

 */
