.header--side--wrap {
  max-width: 1200px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  color: var(--clr-white);
  background-color: var(--clr-black);
  width: 100%;
  margin: 0 0 50px 0;
}

.header--left--items {
  font-size: var(--fs-xs);
  display: flex;
  align-items: center;
}

.header--left--items img {
  width: 150px;
  margin: 25px 50px 25px 8px;
}

.header--left--items :nth-child(2) {
  margin: 0 22px 0 0;
}

.header--right--items {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-s);
}

.header--right--items :nth-child(1) {
  padding: 11px 20px;
  width: 295px;
  border-radius: 20px;
  color: var(--clr-black);
  background-color: var(--clr-white);
  font-weight: var(--fw-b);
}

.header--right--items :nth-child(1),
::placeholder {
  color: var(--clr-black);
}

.header--right--items :nth-child(2) {
  padding: 11px 33.75px;
  border-radius: 20px;
  color: var(--clr-black);
  background-color: var(--clr-darkpink);
  font-weight: var(--fw-lb);
}

.header--right--items :nth-child(3) {
  padding: 11px 31.25px;
  border-radius: 20px;
  color: var(--clr-white);
  background-color: var(--clr-black);
  border: 1px solid var(--clr-darkpink);
  font-weight: var(--fw-lb);
}
