.narrow--event--card {
  display: flex;
  /* width: 100%; */
  align-items: center;
  gap: 18px;
  margin: 0 0 50px 0;
  height: 155px;
  /* overflow: hidden; */
}

#imgWrapper {
  min-width: 260px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

#imgWrapper img {
  width: 260px;
  /* display: none; */
  /* height: 155px; */
}

.narrow--event--description {
  display: flex;
  flex-direction: column;
}

.narrow--event--description h3 {
  font-size: var(--fs-ml);
  font-weight: var(--fw-b);
}

.narrow--event--description h4 {
  font-size: var(--fs-m);
  font-weight: var(--fw-b);
  color: var(--clr-lightpink);
}

.narrow--event--description p {
  font-size: var(--fs-xs);
  font-weight: var(--fw-r);
  margin: 0 0 8px 0;
}

.narrow--event--actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.narrow--event--actions p {
  font-weight: var(--fw-b);
}

.narrow--event--actions--ticket {
  padding: 7.5px 31px;
  border-radius: 20px;
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.print {
  padding: 7px 47.5px;
}

.qr--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 535px;
  height: 660px;
  box-shadow: 0 0 50px hsla(0, 0%, 0%, 0.452);
  z-index: 100;
  background-color: var(--clr-white);
  border-radius: 20px;
  overflow: hidden;
  padding: 45px;
}

.tickerBlaster--black {
  width: 255px;
  height: 40px;
  margin: 0 0 37px 0;
}

.imgWrapper--qr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 440px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 25px 0;
}

.imgWrapper--qr img {
  width: 100%;
}

.qr--event--details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.qr--event--details--idp {
  display: flex;
  flex-direction: column;
}

.qr--event--details--idp h2 {
  font-size: var(--fs-xl);
  font-weight: var(--fw-b);
  letter-spacing: -1px;
}

.qr--event--details--idp h3 {
  color: var(--clr-lightpink);
  font-size: var(--fs-m);
  font-weight: var(--fw-lb);
  letter-spacing: -1px;
}

.qr--event--details--idp h4 {
  font-size: var(--fs-xs);
  font-weight: var(--fw-lb);
  margin: 10px 0 0 0;
  letter-spacing: -1px;
}
